if SHIELD_CHARYBDIS3M_RIGHT

config ZMK_KEYBOARD_NAME
	default "Charybdis3M"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_CHARYBDIS3M_LEFT || SHIELD_CHARYBDIS3M_RIGHT

config ZMK_SPLIT
	default y

config ZMK_SPLIT_BLE
	default y

endif

