if SHIELD_CHARYBDIS3M_RIGHT

config CONFIG_ZMK_KEYBOARD_NAME
	default "Charybdis3M"

config CONFIG_ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

config CONFIG_ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_CHARYBDIS3M_LEFT || SHIELD_CHARYBDIS3M_RIGHT

config CONFIG_ZMK_SPLIT
	default y

config CONFIG_ZMK_SPLIT_BLE
	default y

endif

